@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'microgrammadmedextregular';
    src: url('../fonts/microgme-webfont.woff2') format('woff2'),
      url('../fonts/microgme-webfont.woff') format('woff'),
      url('../fonts/microgrammedmedextfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
}

@layer components {
  .container-x {
    @apply md:px-[12%] px-4;
  }
  .container-xy {
    @apply md:px-[12%] px-4 py-16 md:py-24;
  }
  .gray {
    @apply text-gray-600;
  }
  .outline-btn {
    @apply py-2 px-4 rounded-3xl border-2 border-white w-fit text-white hover:border-lightBlue hover:text-lightBlue transition-colors;
  }
  .subheading {
    @apply text-4xl mb-8;
  }
}

input {
  background: transparent;
  border-bottom: 2px solid #fff;
  transition: border 1s ease;
}
input:hover,
input:focus {
  outline: none;
  border-color: #06b6d4;
}

.card::before {
  opacity: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}
.card:after {
  opacity: 0;
  content: url('/svg/icon-view.svg');
  position: absolute;
  top: 42%;
  left: 42%;
  z-index: 10;
  transition: 0.5s;
}
.card:hover.card::before,
.card:hover.card::after {
  opacity: 1;
}

#about {
  background-image: url('/bg-left.png');
  background-repeat: no-repeat;
}
#projects {
  background-image: url('/bg-left.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#contact {
  background-image: url('/bg-right.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
