@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'microgrammadmedextregular', serif;
    src: url('/fonts/microgme-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}

@layer components {
  .container-x {
    @apply px-36;
  }
  .container-xy {
    @apply px-36 py-16;
  }
}

#about {
  background-image: url('/bg-left.png');
  background-repeat: no-repeat;
}

.about_info p {
  margin-bottom: 1rem;
}
