@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "microgrammadmedextregular";
    src: url("../fonts/microgme-webfont.woff2") format("woff2"),
      url("../fonts/microgme-webfont.woff") format("woff"),
      url("../fonts/microgrammedmedextfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
}

@layer components {
  .nav-margin {
    @apply pt-[25%] md:pt-[12%];
  }
  .container-x {
    @apply md:px-[12%] px-4;
  }
  .container-xy {
    @apply md:px-[12%] px-4 py-16 md:py-24;
  }
  .gray {
    @apply text-gray-600;
  }
  .outline-btn {
    @apply py-2 px-4 rounded-3xl border-2 border-white w-fit text-white hover:border-lightBlue hover:text-lightBlue transition-colors;
  }
  .subheading {
    @apply text-4xl mb-8;
  }
  .social a {
    @apply cursor-pointer hover:translate-y-2 hover:rotate-12 transition;
  }

  /* Menu */
  .menu-container a,
  .menu-container p {
    @apply uppercase;
  }
  .menu-container {
    @apply fixed top-0 left-0 w-screen container-x sm:py-4 py-2 flex items-center z-10 bg-darkBlue;
  }
  .menu-overlay {
    @apply fixed top-0 left-0 w-screen h-screen container-x sm:py-4 py-2 bg-lightBlue z-20 flex flex-col justify-between;
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0% 0%);
  }
  .menu-header {
    @apply flex justify-between items-center w-full;
  }
  .menu-extras {
    @apply flex justify-between sm:flex-row flex-col gap-4 text-sm;
  }
  .menu-link-item {
    @apply w-max;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .menu-links {
    @apply w-full sm:ml-[20%];
  }
  .menu-link-item-holder {
    @apply relative;
  }
  .menu-link-item-holder a {
    @apply text-black sm:text-6xl md:text-7xl text-5xl tracking-tight leading-[85%];
  }
  .menu-info {
    @apply flex flex-[2] gap-4 justify-between sm:flex-row flex-col sm:items-end;
  }
  .menu-info > div {
    @apply flex-1;
  }
  .menu-close-icon {
    @apply flex-1 lg:flex hidden items-end cursor-pointer;
  }
  .menu-close-icon p {
    @apply text-8xl leading-[70%];
    -webkit-text-stroke: 3px #06b6d4;
  }
}

input {
  background: transparent;
  border-bottom: 2px solid #fff;
  transition: border 1s ease;
}
input:hover,
input:focus {
  outline: none;
  border-color: #06b6d4;
}

.card::before {
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}
.card:after {
  opacity: 0;
  content: url("/svg/icon-view.svg");
  position: absolute;
  top: 42%;
  left: 42%;
  z-index: 10;
  transition: 0.5s;
}
.card:hover.card::before,
.card:hover.card::after {
  opacity: 1;
}

#about {
  background-image: url("/bg-left.png");
  background-repeat: no-repeat;
}
#projects {
  background-image: url("/bg-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#contact {
  background-image: url("/bg-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
